ion-header{
    background-color: coral;
    padding: 60px;
    ion-item{
        position: absolute;
        top: 25%;
        right: 38%;
        border-radius: 20px;
        width: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}



ion-content{
    h1{
        color: brown;
        text-align: center;
    }
    input{
        font-size: 14px;
        padding: 10px 40px;
        margin-left: 15%;
    }
    ion-button{
        margin-top: 20px;
        margin-left: 35%;
    }
}
