<ion-header [translucent]="true">
  <ion-item>
    <img src="../../assets/img/traicam.png" alt="">
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
    <h1>Login</h1>
   <input placeholder="Nhập chứng minh nhân dân" type="text"> <br>
    <ion-button (click)="onClick()">
      Click me
    </ion-button>
 
 
</ion-content>